# Mac OS
.DS_Store

# NPM
/node_modules
npm-*
*.zip

# Environment variables
.env
.env.local
.env.*.local

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# Webpack filesystem build cache
/.webpack-cache

# Generated translation files
/translations
/locale

# Other generated source
# /src/generated - NOT ignored, contains microbit-hex-url.cjs

# Downloaded during "npm install"
# /static/microbit - NOT ignored, contains scratch-microbit hex file
/static/penguinmod

# for act
.secrets

# Dev server log
dev-server.log
