.debugger-btn {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    cursor: pointer;
}

.debugger-btn:hover {
    background-color: var(--looks-light-transparent);
}

.step-btn {
    margin-left: 0.25rem;
}
